{% load static %}

{% block css %}
  <link rel="stylesheet" href={% static 'movies/css/searchbar.css' %} />
{% endblock  %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% if user.is_authenticated %}
    <span><img src="https://avatars1.githubusercontent.com/u/58015746?s=400&u=c7a1dc4b8bc29d898d430ee16e572ed34c0cb6d1&v=4" alt="team_logo" width="25px" height="25px"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-family: 'Sunflower';">
            {{ user.username }}
          </a>
          <div class="dropdown-menu menu-b" aria-labelledby="navbarDropdown" style="font-family: 'Sunflower';">
            <a class="dropdown-item" href="{% url 'accounts:private' user.id %}">내프로필</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:update' %}">정보수정</a> <!-- {# url 'accounts:update' #} -->
            <a class="dropdown-item" href="{% url 'accounts:change_password' %}">비번변경</a> <!-- {# url 'accounts:change_password' #} -->
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">로그아웃</a>
            <div class="dropdown-divider"></div>
            <form action="{% url 'accounts:delete' %}" method="POST" style="display: inline;" onclick="return confirm('정말로 회원을 탈퇴하시겠습니까?')">
              {% csrf_token %} <!-- {# url 'accounts:delete' #} -->
              <input type="submit" value="회원탈퇴" class="dropdown-item">
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-c" href="{% url 'movies:index' %}">영화 정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-c" href="{% url 'accounts:index' %}">유저 목록</a>
        </li>
      </ul>
    </div>
  <div class="collapse navbar-collapse d-flex justify-content-end align-items-center d-sm-none" id="navbarNav">
    <ul class="navbar-nav d-none d-sm-flex">
      <li class="mx-2">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </li>
    </ul>
  </div>
  {% else %}
    <span><img src="https://avatars1.githubusercontent.com/u/58015746?s=400&u=c7a1dc4b8bc29d898d430ee16e572ed34c0cb6d1&v=4" alt="team_logo" width="25px" height="25px"> 영화 추천 서비스</span>
  {% endif %}
</nav>