{% load static %}
<p>
  <a class="btn btn-primary" id="movie-name" data-toggle="collapse" href="#movie-videos" role="button" aria-expanded="false" aria-controls="collapseExample">
    {{ movie.name }} 관련 영상
  </a>
</p>

<div class="row" id="movie-thumbnails">
</div>


<div class="card-group" id="thumbnails">
</div>


<div class="collapse" id="movie-videos">
  <div class="card card-body" id="movieList">
  </div>
</div>

<div id="youtube-player"></div>


<!-- <span class="badge badge-primary" id="movie-name">{{ movie.name }}</span> 관련 영상 -->
<!-- <button class="btn btn-info"id="youtube-button">영상 보기</button> -->
<hr>

<script type="text/javascript" src="{% static 'movies/js/config.js' %}"></script>
<script>

  const movieName = document.querySelector('.card-title')
  // const youtubeButton = document.querySelector('#youtube-button')
  const selectVideo = document.querySelector('.video-thumbnail')
  const API_URL = 'https://www.googleapis.com/youtube/v3/search'
  const API_KEY = config.YOUTUBE_API_KEY


  //const testTag = document.createElement('div')
  //testTag.setAttribute('class', 'test')
  //testTag.innerText = '123'
  //document.querySelector('#movieList').append(testTag)


  window.onload = function() {
    axios.get(API_URL, {
      params: {
        key: API_KEY,
        type: 'video',
        part: 'snippet',
        q: movieName.innerText
      }
    })
    .then(response => {
      const videos = response.data.items
      for (let i = 0; i < videos.length - 1; i++) {
        const flexThumbnailTag = document.createElement('div')
        flexThumbnailTag.setAttribute('class', 'col-sm-6')
        flexThumbnailTag.className += ' col-md-4'
        const divThumbnailTag = document.createElement('div')
        divThumbnailTag.setAttribute('class', 'card')


        const videoThumbnailTag = document.createElement('img')
        videoThumbnailTag.id = videos[i].etag
        videoThumbnailTag.class = 'card-img-top'
        videoThumbnailTag.src = videos[i].snippet.thumbnails.high.url
        videoThumbnailTag.style.height = '220px'
        divThumbnailTag.append(videoThumbnailTag)
        const videoTitleTag = document.createElement('div')
        videoTitleTag.class = "card-body"
        videoTitleTag.innerText = videos[i].snippet.title
        divThumbnailTag.append(videoTitleTag)
        flexThumbnailTag.append(divThumbnailTag)
        document.querySelector('#thumbnails').append(flexThumbnailTag)
      }
    })
    .catch(err => {
      console.log(err)
    })
  }





  //const closeVideo = document.querySelector('#pauseVideo')
  //closeVideo.addEventListener('click', function() {
  // console.log('clicked')

    // document.querySelector('.embed-responsive').remove(closeVideo)
  //youtubeButton.addEventListener('click', function() {
  //  youtubeList()
  //})

</script>