{% load static %}
<p>
  <a class="btn btn-dark" id="movie-name" style="font-family: 'Gugi';" data-toggle="collapse" href="#movie-videos" role="button" aria-expanded="false" aria-controls="collapseExample">
    {{ movie.name }} 관련 영상
  </a>
</p>
<div class="collapse" id="movie-videos">
  <div class="card card-body" id="movieList">
  </div>
</div>

<div id="youtube-player"></div>


<!-- <span class="badge badge-primary" id="movie-name">{{ movie.name }}</span> 관련 영상 -->
<!-- <button class="btn btn-info"id="youtube-button">영상 보기</button> -->
<hr>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'movies/js/config.js' %}"></script>
<script>

  const movieName = document.querySelector('.movie-title')
  // const youtubeButton = document.querySelector('#youtube-button')
  const selectVideo = document.querySelector('.video-thumbnail')
  const API_URL = 'https://www.googleapis.com/youtube/v3/search'
  const API_KEY = config.YOUTUBE_API_KEY


  //const testTag = document.createElement('div')
  //testTag.setAttribute('class', 'test')
  //testTag.innerText = '123'
  //document.querySelector('#movieList').append(testTag)



  window.onload = function () {
    axios.get(API_URL, {
      params: {
        key: API_KEY,
        type: 'video',
        part: 'snippet',
        q: movieName.innerText
      }
    })
    .then(response => {
      const videos = response.data.items
      console.log(videos)
      console.log(movieName.innerText)
      for (let i = 0; i < videos.length - 1; i++) { // 유튜브 검색 결과 네 개만 출력

        // 1. 썸네일 추가
        const divThumbnailTag = document.createElement('div')
        divThumbnailTag.setAttribute('class', 'video-thumbnail mb-5 card')
        divThumbnailTag.setAttribute('style', 'width: 30rem;')
        const videoThumbnailTag = document.createElement('img')
        videoThumbnailTag.id = videos[i].etag
        videoThumbnailTag.src = videos[i].snippet.thumbnails.high.url
        videoThumbnailTag.setAttribute('data-toggle', 'modal')
        videoThumbnailTag.setAttribute('data-target', `#movieNm-${i}`)
        divThumbnailTag.append(videoThumbnailTag)

        // 2. 영상 제목 추가
        const videoDescriptionTag = document.createElement('div')
        videoDescriptionTag.class = "media-body"
        videoDescriptionTag.setAttribute('style', "font-family: 'Gothic A1'; padding-top: 7px; padding-bottom: 7px;")
        videoDescriptionTag.innerText = videos[i].snippet.title
        divThumbnailTag.append(videoDescriptionTag)

        // 3. 선택한 youtube 영상 modal로 pop-mode 적용
        const modalTag = document.createElement('div')
        const selectVideoId = videos[i].id.videoId

        modalTag.innerHTML = `
        <div class="modal fade bd-example-modal-lg" id="movieNm-${i}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="font-family: 'Gothic A1', sans-serif;">
            <div class="modal-content">
              <div class="modal-header">
                ${videos[i].snippet.title}
              </div>
              <div class="modal-title">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe id="player" src="http://www.youtube.com/embed/${selectVideoId}" allowfullscreen="allowfullscreen" frameborder="0" class="embed-responsive-item"></iframe>
                </div>
              </div>
              <hr>
              <div class="modal-body">
                ${videos[i].snippet.description}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="pauseVideo" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        `
        divThumbnailTag.append(modalTag)

        document.querySelector('#movieList').append(divThumbnailTag)
      }
    })
    .catch(err => {
      console.log(err)
    })
  }

  //const closeVideo = document.querySelector('#pauseVideo')
  //closeVideo.addEventListener('click', function() {
  // console.log('clicked')

    // document.querySelector('.embed-responsive').remove(closeVideo)
  //youtubeButton.addEventListener('click', function() {
  //  youtubeList()
  //})

</script>