{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  <link rel="stylesheet" href={% static 'movies/css/multicarousel.css' %} />
  <link rel="stylesheet" href={% static 'movies/css/movie_main.css' %} />
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Gugi|Jua|Nanum+Pen+Script|Noto+Sans+KR|Poor+Story&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/17820a52a0.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Movie Service</title>
</head>
<body style="background: linear-gradient(to right, #c6426e, #642b73);">
  {% if user.is_authenticated %}
  {% include 'movies/_nav.html' %}
    <div class="container">
      {% block content %}
      {% endblock  %}
    </div>
  {% else %}
    {% include 'movies/_main_nologin.html' %}
      {% block content2 %}
      {% endblock  %}
  {% endif %}
  {% bootstrap_javascript jquery='full' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
  <script src={% static 'movies/js/movie_tem.js' %}></script>
  <script src={% static 'movies/js/multicarousel.js' %}></script>
  <script src={% static 'movies/js/test.js' %}></script>
  <script>
    const naverLink = document.querySelector('.fa-search')
    naverLink.addEventListener('click', function() {
      let baseUrl = 'https://search.naver.com/search.naver?query='
      let movieKeyWord = $('input#search-keywoard').val()
      window.open(baseUrl + movieKeyWord)
    })
  </script>
</body>
</html>