{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Jua|Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>
<body>
  {% include 'movies/_nav.html' %}
  <div class="container" id="Page-up">
    {% block content %}
    {% endblock  %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>
</html>