{% extends 'movies/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
<header class="index-img" id="index-img">
  <h1 class="text-center heading" style="font-family: 'Do Hyeon';">당신을 위한 영화를 추천해드립니다.</h1>
</header>

<hr>
<h1 class="title">Hover over the cards</h1>

<div id="app" class="cards col-md-3">
  {% for movie in movies %}
  <card data-image="https://image.tmdb.org/t/p/original{{movie.poster_url}}">
    <h1 slot="header">{{ movie.name }}</h1>
    <p slot="content">Like count : {{ movie.like_users.all|length }}</p>
  </card>
  {% endfor %}
</div>
{% endblock  %}