{% extends 'accounts/base.html' %}
{% load static %}
{% load socialaccount %}
{% load bootstrap4 %}
{% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
<div class="login">
  <h1>Login</h1>
  <form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    <button type="submit" class="btn btn-primary btn-block btn-large font-weight-bold">Log-In</button>
    <p class="text-center font-weight-bold" style="margin-top: 10px; margin-bottom: 10px; color: white;">- or -</p>
    <a class="btn btn-kakao btn-block btn-large font-weight-bold" href="{% provider_login_url "kakao" %}">Log-In with KAKAO</a>
    <a class="btn btn-kakao btn-block btn-large font-weight-bold" href="{% provider_login_url "naver" %}">Log-In with NAVER</a>
  </form>
</div>
{% endblock  %}