{% extends 'movies/base.html' %}
{% block content %}
<h1 class="text-center" style="font-family: 'Do Hyeon';">나의 정보 상세보기</h1>
<br>
<hr>

<h3 style="font-family: 'Jua';">아이디 : {{ auth_user }}</h3>
<h3 style="font-family: 'Jua';">성 : {{ auth_user.first_name }}</h3>
<h3 style="font-family: 'Jua';">이름 : {{ auth_user.last_name }}</h3>
{% if auth_user.sex == 'M' %}
<h3 style="font-family: 'Jua';">성별 : ♂️</h3>
{% else %}
<h3 style="font-family: 'Jua';">성별 : ♀️</h3>
{% endif %}
<h3 style="font-family: 'Jua';">나이 : {{ auth_user.age }} </h3>
<h3 style="font-family: 'Jua';">이메일 주소 : {{ auth_user.email }} </h3>
<br>

<a href="#">사진 변경</a>
<br>
<a href="#">닉네임 변경</a>
<br>
<a href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
{% endblock  %}