{% load sass_tags %}
<html>

<head>
  <title>A Simple Django Boilerplate</title>
  <link href="{% sass_src 'accounts/css/test.scss' %}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="btn-wrapper">
  <button class="button" id="signup">SignUp</button>
  <button class="button" id="login"> Login</button>
</div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
</body>

</html>